@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Quản lý vật tư</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Danh sách vật tư
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- HTML (DOM) sourced data -->
            <section id="html">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header" style="background: black;">
                                <ul class="list-inline mb-0">
                                    <li class="addnew">
                                        <a href="@Url.Action("Create","Commodities")" class="btn btn-info"><i class="fa fa-plus"></i>Thêm mới</a>
                                    </li>
                                </ul>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">

                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered" id="dynamic-table">
                                        <thead>
                                            <tr>
                                                <th>Tên vật tư</th>
                                                <th>Code</th>
                                                <th>Code-XT</th>
                                                <td>Hành động </td>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Code</th>
                                                <th>Code-XT</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ HTML (DOM) sourced data -->
            <!--/ Javascript sourced data -->
        </div>
    </div>
</div>
<!-- END: Content-->
<script>
    $(document).ready(function () {
        $('#dynamic-table').DataTable({
            'ajax': {
                "type": "GET",
                "url": "http://113.160.87.222:9876/api/Commodity/GetCommodities?type=material",
                "dataSrc": function (json) {
                    var data = new Array();
                    for (var i = 0; i < json.Items.length; i++) {
                        //for (var j = 0; j < json[i].Items.length; j++) {
                        //}
                        data.push({
                            'Name': json.Items[i].Name,
                            'Code': json.Items[i].Code,
                            'CodeXT': json.Items[i].CodeXT,
                            'Id': json.Items[i].Id
                        });
                    }
                    return data;
                }
            },
            "columns": [
                { 'data': 'Name' },
                { 'data': 'Code' },
                { 'data': 'CodeXT' },
                {
                    "sortable": false,
                    "data": function (data, type, row) {
                        var urledit = "@Url.Action("Create","Commodities")";
                        var url=data.Id
                        var urls = urledit + "/" + url;
                        var urldelete = "";
                        var btndetail = " <div class=\"btn-group mx-2\" role=\"group\" aria-label=\"Second Group\">  <button type=\"button\" title=\"Sửa\" class=\"btn btn-icon btn-outline-success\"><i class=\"fa fa-search\"></i></button>";
                        var btnaddPc = " <a onclick=\"showviewCreate(" + data.Id + ",'" + urledit + "')\" title=\"Sửa\" class=\"btn btn-icon btn-outline-warning\"><i class=\"fa fa-gavel\"></i></a>";
                        var btndeletePc = " <a href="+urls+" title=\"Sửa\" class=\"btn btn-icon btn-outline-info\"><i class=\"fa fa-recycle\"></i></a> </div>";
                        return (btndetail + btnaddPc  + btndeletePc  );
                    }
                },
            ]
        });
    });
</script>