@{
    Layout = null;
}
<div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" nav-item">
            <a href=""><i class="ft-home"></i><span class="menu-title" data-i18n="">Quản lý nhân sự</span><span class="badge badge badge-primary badge-pill float-right mr-2">3</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="">Demo</a>
                </li>
                <li>
                    <a class="menu-item" href="">Demo</a>
                </li>
                <li>
                    <a class="menu-item" href="">Demo</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-monitor"></i><span class="menu-title" data-i18n="">Quản lý đơn vị sản xuất</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="#">Demo</a>
                </li>
                <li>
                    <a class="menu-item" href="#">Demo</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-layout"></i><span class="menu-title" data-i18n="">Quản lý vật tư</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="@Url.Action("Index","Commodities")">Danh sách vật tư</a>
                </li>
                <li>
                    <a class="menu-item" href="@Url.Action("Index","Partner")">Nhà cung cấp</a>
                </li>
                <li>
                    <a class="menu-item" href="@Url.Action("Index","Price")">Bảng giá</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-zap"></i><span class="menu-title" data-i18n="">Quản lý  sản phẩm</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="@Url.Action("Index","Commodities")">Danh sách sản phẩm</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href=""><i class="ft-mail"></i><span class="menu-title" data-i18n="">Quản lý định mức</span></a>
        </li>
        <li class=" nav-item">
            <a href=""><i class="ft-message-square"></i><span class="menu-title" data-i18n="">Quản lý kho</span></a>
        </li>
        <li class=" nav-item">
            <a href=""><i class="ft-check-square"></i><span class="menu-title" data-i18n="">Quản lý điều hành sản xuất</span></a>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-share"></i><span class="menu-title" data-i18n="">Lập kế hoạch sản xuất</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="#">Demo</a>
                </li>
                <li>
                    <a class="menu-item" href="">Demo</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item">
            <a href="#"><i class="ft-plus-square"></i><span class="menu-title" data-i18n="">Thống kê báo cáo</span></a>
            <ul class="menu-content">
                <li>
                    <a class="menu-item" href="">Demo</a>
                </li>
                <li>
                    <a class="menu-item" href="">Demo</a>
                </li>
            </ul>
        </li>
    </ul>
</div>