<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Analytics Dashboard - Stack Responsive Bootstrap 4 Admin Template</title>
    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->

    <link href="~/Content/app-assets/vendors/css/vendors.min.css" rel="stylesheet" />

    <link href="~/Content/app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css" rel="stylesheet" />

    <link href="~/Content/app-assets/vendors/css/charts/morris.css" rel="stylesheet" />

    <link href="~/Content/app-assets/vendors/css/extensions/unslider.css" rel="stylesheet" />

    <link href="~/Content/app-assets/vendors/css/weather-icons/climacons.min.css" rel="stylesheet" />
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->

    <link href="~/Content/app-assets/css/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/app-assets/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/colors.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/components.css" rel="stylesheet" />
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link href="~/Content/app-assets/css/core/menu/menu-types/vertical-menu.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/core/colors/palette-gradient.css" rel="stylesheet" />
    <!-- link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/pages/users.css')-->
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
@RenderBody()
</html>